%montserrat-reg {
    font: {
      family: $montserrat;
      weight: 400;
    }
}

%montserrat-bold {
    font: {
      family: $montserrat;
      weight: bold;
    }
}

%lato-reg {
    font: {
      family: $lato;
      weight: 400;
    }
}

%lato-bold {
    font: {
      family: $lato;
      weight: bold;
    }
}

