@mixin montserrat-reg {
    font: {
      family: $montserrat;
      weight: 400;
    }
}

@mixin montserrat-bold {
    font: {
      family: $montserrat;
      weight: bold;
    }
}

@mixin lato-reg {
    font: {
      family: $lato;
      weight: 400;
    }
}

@mixin lato-bold {
    font: {
      family: $lato;
      weight: bold;
    }
}

@mixin duration-line {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 5px;
  background: #8d81ac;
}
