.container {
    min-width: 320px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 481px) and (max-width: 992px) {
        max-width: 768px;
    }
    
    @media (min-width: 993px) {
        max-width: 1200px;
    }
}

$montserrat: 'Montserrat', 'Arial', sans-serif;
$lato: 'Lato', 'Arial', sans-serif;

$purple: #8D81AC;
$dark-purple: #635C73;
$black: #323232;
$grey: #848E97;
$white: #FFFFFF;
